
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Motoboy Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <link href="~/Css/Style.css" rel="stylesheet" />
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Rocha Express</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#contact">Contato</a></li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="../navbar/">Default</a></li>*@
                    <li><a href="../navbar-static-top/">Cadastrar</a></li>
                    <li class=""><a href="./">Entrar no Sistema <span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <br /><br /><br />

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <figure>
                <img src="~/Imagem/10961744_332130080326484_417361958_n.jpg" />
            </figure>
            <h2>CHAME O MOTOBOY</h2>
            <p>Adicione os endereços e saiba automaticamente o valor da corrida. Então, confirme o pedido e nosso sistema encontra o motoboy mais próximo para sua entrega ser mais rápida ainda.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Contrate Agora &raquo;</a>
            </p>
        </div>
    </div> <!-- /container -->
    <!-- Beneficios-->
    @*<div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <br />
                <h1><strong>Os beneficios</strong> </h1>
            </nav>
        </div>*@
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#"><h1><strong>Os beneficios</strong> </h1></a> <span class="divider"></span></li>
        </ul>
    </div>
    <!-- Fim Beneficios-->



    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2 style="color:white">Facilidade</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="#" role="button">Mais detalhes &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="color:white">Agilidade</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-danger" href="#" role="button">Mais detalhes &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="color:white">Segurança</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-primary" href="#" role="button">Mais detalhes &raquo;</a></p>
            </div>
        </div>
    </div>

    <br /><br />
    <!-- Nossos clientes -->
    @*<div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <br />
                <h1><strong>Empresas que utilizam nossos serviços.</strong> </h1>
            </nav>
        </div>*@
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#"><h1><strong>Empresas que utilizam nossos serviços.</strong> </h1></a> <span class="divider"></span></li>
        </ul>
    </div>
    <!-- Fim nossos clientes-->

    <article class="container">
        <img src="~/Imagem/1410245298_social_8-32.png" /> Twitter.
        <img src="~/Imagem/1410245174_678128-social-facebook-32.png" /> Facebook.
        <img src="~/Imagem/1410245518_social_9-32.png" /> Comunidade Android.
        <img src="~/Imagem/1410245563_google-32.png" /> Google Inc.
        <img src="~/Imagem/1410245583_social_7-32.png" /> Linkedin Inc.
    </article>
    <br />

    <!-- Rodapé -->
    <footer>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">&copy;2015 - <strong> Todos os direitos reservados a Rocha Express </strong></a>
                    <p>
                        Rua da consolação, 12909<br />
                        073455-000<br />
                        Santo Amaro - São Paulo<br />
                        5511-5555-4400 / 97965-0001<br />
                        <a>contato@rochaexpress.com.br</a>
                    </p>
                </div>
            </div>
        </nav>
    </footer>
    <!-- Fim do Rodapé -->


    <div class="container-fluid" id="pcont">
        <div class="cl-mcont" style="z-index: 99999999999">
            @RenderBody()
            <!-- Content goes here -->
        </div>
    </div>


</body>
</html>
